---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-nav div
{
  float: left;
}

.dropdown-content div
{
  float: none;
  text-align: left;
}

.site-nav div a
{
  padding: 1em;
  font-weight: bold;
}

.dropdown-content, i.fa.dropdown-arrow
{
  display: none;
}

@media screen and (min-width: $on-medium) {
  .site-nav div a
  {
    color: #fff;
  }
  i.fa.dropdown-arrow
  {
    display: inline-block;
  }
  .dropdown:hover .dropdown-content 
  {
    display: block;
    position: absolute;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);;
    background-color: #ffffff;
  }

  .site-nav > div > div:hover
  {
    background-color: rgba(0,0,0,0.2);
  }

  div.dropdown-content > div > a
  {
    color: #333;
  }

  div.dropdown-content > div:hover
  {
    color: black;
    background-color: #ccc;
  }
}

.site-header {
  min-height: auto;
  line-height: auto;
}

.site-header div.wrapper, .banner {
  text-align: center;
}

.site-nav {
  float: none;
}

.nav-bg
{
  width: 100%;
  background-image: url("/Media/navbar_bg.jpg");
}

.splitpane 
{
  border: 1px solid #ccc;
  padding: 1em;
  width: calc(50% - 3em);
  float: left;
}

.splitpane h3
{
  margin-top: auto;
}

.splitpane-left
{
  margin-right: 0.5em;
}

.splitpane-left
{
  margin-left: 0.5em;
}

